/*让div水平垂直居中*/
.vertical-horizontal-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*盒子模型*/
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box; /* Firefox */
	-webkit-box-sizing: border-box; /* Safari */
}

/*-----共用样式开始-------*/

//main的背景色
.blackBg {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: $bColor;
	padding: 16px;
}

// main每个模块的背景色
.divBoxBg {
	position: relative;
	background: $divcolor !important;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
	border-radius: 2px;
}

.divBoxTitle {
	position: relative;
	font-size: 16px;
	font-weight: 500;
	color: $titleColor !important;
	width: auto;
	height: 22px;
	opacity: 0.8;
	margin-top: 16px;
	margin-left: 16px;
	& > span {
		text-align: center;
		display: inline-block;
		line-height: 22px;
		height: 44px;
		width: 100%;
	}
}

// 文档下载按钮
.kd-header--download {
	margin-top: 16px;
	margin-left: 20px;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	color: rgba(77, 136, 255, 1);
	width: 556px;
	line-height: 32px;
	background: $divcolor;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.04);
	border-radius: 2px;
	border: 1px solid rgba(76, 136, 255, 1);
	a {
		display: inline-block;
		vertical-align: top;
		color: #fff;
		text-decoration: none;
		font-size: 14px;
		font-weight: 400;
		color: rgba(255, 255, 255, 1);
	}
}

/*-----共用样式开始-------*/

// 时间选择器
.kc-date-editor {
	z-index: 1024;
	color: rgba(77, 136, 255, 1);
	.kc-input__prefix {
		height: 100%;
		.kc-input__icon {
			line-height: 35px;
		}
	}
	.kc-input__icon {
		color: rgba(77, 136, 255, 1);
		height: auto;
	}
	.kc-input__inner {
		line-height: 30px;
		background-color: $divcolor;
		box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.04);
		border-radius: 4px;
		border: 1px solid rgba(76, 136, 255, 1);
		color: rgba(77, 136, 255, 1);
		&::-webkit-input-placeholder {
			color: rgba(77, 136, 255, 1);
		}
		&::-moz-placeholder { /* Mozilla Firefox 19+ */
			color: rgba(77, 136, 255, 1);
		}
		&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			color: rgba(77, 136, 255, 1);
		}
		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color: rgba(77, 136, 255, 1);
		}
	}
	.kc-popper {
		position: absolute;
	}
}

//导出按钮
.downloadButton {
	width: 106px; /*no*/
	height: 32px;
	background: $divcolor;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.04);
	border-radius: 2px;
	border: 1px solid rgba(76, 136, 255, 1);
	cursor: pointer;
	position: absolute;
	top: 14px;
	right: 16px;
	padding: 6px 10px;
	& > span {
		line-height: 20px;
		font-size: 14px;
		font-weight: 500;
		color: rgba(77, 136, 255, 1);
	}
	& > i {
		color: rgba(77, 136, 255, 1);
	}
}

.downloadButton——big {
	width: 104px !important; /*no*/
	padding: 0 !important;
	text-align: center;
	line-height: 30px;
}

/*共用div*/
.divBox {
	.border {
		position: absolute;
		top: 0;
		left: 0;
		height: 100% !important;
		width: 100% !important;
		& > div {
			opacity: 0.6;
			position: absolute;
			width: 20px;
			height: 20px;
			border: 3px;
		}
		.topLeftBorder {
			top: -2px;
			left: -2px;
			border-top: solid #0D90E2;
			border-left: solid #0D90E2;
		}
		.topRightBorder {
			top: -2px;
			right: -2px;
			border-top: solid #0D90E2;
			border-right: solid #0D90E2;
		}
		.topBottomLeftBorder {
			bottom: -2px;
			left: -2px;
			border-bottom: solid #0D90E2;
			border-left: solid #0D90E2;
		}
		.topBottomRightBorder {
			bottom: -2px;
			right: -2px;
			border-bottom: solid #0D90E2;
			border-right: solid #0D90E2;
		}
	}
	//background: rgba(31, 36, 40, 1) !important;
	border: 1px solid rgba(0, 100, 182, 1);
	box-shadow: 0px 0px 10px 1px rgba(33, 129, 216, 0.35) inset;
	background: #131927;
	//border-image: url("../../static/images/app-ioms-visual/border_img.png") 100% 100% round;
	padding-top: 15px;
	width: 100%;
	height: 100%;
	position: relative;
	.topTitle {
		opacity: 0.8;
		width: 100%;
		height: 32px;
		line-height: 32px;
		& > label {
			margin-left: 14px;
			display: inline-block;
			vertical-align: middle;
			height: 32px;
			width: 32px;
			//background: url("../../static/images/app-ioms-visual/Compass.png") no-repeat center;
			background-size: 100% 100%;
		}
		h1 {
			height: 32px;
			line-height: 32px;
			width: 200px;
			display: inline-block;
			vertical-align: middle;
			font-size: 22px;
			font-family: 'Microsoft YaHei', 'Avenir', Helvetica, Arial, sans-serif;
			font-weight: 400;
			color: rgba(255, 255, 255, 1);
			margin-left: 10px;
		}
	}
}

//表格的样式
.kc-table::before {
	display: none !important;
}

.kc-table::after {
	display: none !important;
}

.kc-table, .kc-table__expanded-cell {
	background: none !important;
}

.kc-table {
	.kc-table__empty-block {
		background-color: $divcolor !important;
	}
	.cellCursorP {
		cursor: default !important;
	}
	.cellCursorD {
		cursor: pointer !important;
	}
	.county {
		color: rgba(255, 255, 255, 1) !important;
		cursor: default !important;
	}
	border: 1px solid rgba(16, 29, 82, 1);
	border-radius: 2px;
	.kc-table__header tr div {
		font-size: 14px;
		font-family: PingFangSC-Medium;
		font-weight: 500;
	}
	.kc-table__header tr:nth-child(1) div {
		color: rgba(255, 255, 255, 0.6);
	}
	.kc-table__header tr:nth-child(1) th:nth-child(1) div {
		color: rgba(255, 255, 255, 0.8);
	}
	.kc-table__header tr:nth-child(2) div {
		color: rgba(255, 255, 255, 0.8);
	}
	.kc-table__row td div {
		font-size: 14px;
		font-family: PingFangSC-Regular;
		font-weight: 400;
		color: rgba(255, 255, 255, 0.8);
	}
	.kc-table__body-wrapper table tr td:nth-child(1) div div {
		color: rgba(255, 170, 0, 1);
		cursor: pointer;
	}
	.kc-table__body tbody tr td:nth-child(2) > div {
		white-space: normal !important;
	}
	.kc-table__body tbody tr td > div {
		//white-space: pre-line !important;
	}
	tbody .cell {
		color: rgba(255, 255, 255, 0.7);
		text-align: center;
	}
	tbody .cell > div {
		width: 100%;
	}
	.is-leaf .cell {
		border: 0;
	}
	.kc-table__header tr div {
		white-space: pre-line;
	}
	.kc-table__header th, .kc-table__header tr {
		background-color: $headerColor !important;
		color: rgba(255, 255, 255, 0.7) !important;
		border-color: rgba(17, 31, 87, 1);
		border-right: 1px solid rgba(17, 31, 87, 1);
		td, div {
			border-color: RGBA(7, 13, 36, 1);
		}
	}
	.kc-table__body-wrapper {
		table tr {
			background-color: $divcolor;
			td {
				border-color: $boderColor;
			}
			&:hover > td {
				background-color: $hoverColor;
			}
		}
		.kc-table__body {
			.kc-table__row {
				td {
					.cell {
						display: flex;
						justify-content: space-around;
						.video-ranking-1, .video-ranking-2, .video-ranking-3 {
							width: 28px;
							height: 28px;
							line-height: 28px;
							border-radius: 4px;
							font-weight: 500;
						}
						.video-ranking-1 {
							background: rgba(255, 51, 119, 0.1);
						}
						.video-ranking-2 {
							background: rgba(25, 102, 255, 0.15);
						}
						.video-ranking-3 {
							background: rgba(33, 217, 217, 0.06);
						}
						.video-ranking-1, .video-Score-1 {
							color: rgba(255, 51, 119, 1);
						}
						.video-ranking-2, .video-Score-2 {
							color: rgba(25, 102, 255, 1);
						}
						.video-ranking-3, .video-Score-3 {
							color: rgba(33, 217, 217, 1);
						}
						.blue {
							color: rgba(77, 136, 255, 1);
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}

.kc-table__empty-text {
	display: none;
}

//pagination分页
.pagination {
	width: 100%;
	margin-top: 20px; /*no*/
	display: flex;
	justify-content: center;
	// position: absolute;
	// bottom: -40px;
	// left: 0;
	.kc-pagination {
		.kc-pagination__total, .kc-pagination__jump {
			color: rgba(255, 255, 255, 0.6) !important;
			height: 30px; /*no*/
			line-height: 30px; /*no*/
		}
		.kc-pagination__sizes {
			color: rgba(255, 255, 255, 0.6) !important;
			height: 30px; /*no*/
			line-height: 30px; /*no*/
			.kc-select {
				width: 60px; /*no*/
				height: 28px; /*no*/
				border-radius: 3px; /*no*/
				color: $inputWord !important;
				margin-left: 5px; /*no*/
				margin-right: 5px; /*no*/
				.kc-input__inner {
					color: $inputWord !important;
					background-color: $divcolor;
					border-color: $inpiutBorder;
				}
			}
		}
		.kc-pagination__jump {
			color: rgba(255, 255, 255, 0.6) !important;
			.kc-pagination__editor {
				height: 28px; /*no*/
				box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.04);
				border-radius: 3px; /*no*/
				border: 1px solid $inpiutBorder;
				.kc-input__inner {
					height: 100%; /*no*/
					width: 100%; /*no*/
					background: $divcolor;
					color: rgba(255, 255, 255, 0.6) !important;
					border: none;
				}
			}

		}
		.kc-pager .active {
			background: $inputWord !important;
			border-radius: 3px; /*no*/
			line-height: 30px; /*no*/
			color: #fff !important;
		}
		.kc-pager li:not(.disabled).active {
			color: #fff !important;
		}
		.btn-prev, .kc-pager .number, .kc-pager .btn-quickprev, .kc-pager .btn-quicknext, .btn-next {
			min-width: 30px !important; /*no*/
			height: 30px; /*no*/
			line-height: 30px; /*no*/
			background: $divcolor;
			border: 1px solid $inpiutBorder;
			box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.04);
			border-radius: 3px; /*no*/
			color: $inputWord !important;
			i {
				color: $inputWord !important;
			}
		}
	}
}

// 不是共用 Firefox不兼容
.breadcrumb {
	.kc-breadcrumb {
		height: 100%;
		width: 100%;
		.kc-breadcrumb__item {
			height: 100%;
			line-height: 64px;
			//最后一个没有改样式
		}
	}
}

// 弹出框 关闭按钮隐藏
.kc-message-box {
	width: 450px; /*no*/
	height: 176px; /*no*/
	.kc-message-box__message {
		text-align: center;
		font-size: 14px;
		font-weight: 400;
		color: rgba(87, 90, 95, 1);
		line-height: 14px;
	}
	.kc-message-box__btns {
		text-align: center !important;
	}
	.kc-button {
		width: 100px;
		height: 38px;
		background: rgba(232, 236, 239, 1);
		border-radius: 2px;
		display: inline-block;
		vertical-align: middle;
		& > span {
			font-size: 16px;
			font-weight: 500;
			color: rgba(159, 169, 186, 1);
		}
	}
	.kc-button--primary {
		border-color: rgba(77, 136, 255, 1);
		width: 100px;
		height: 38px;
		background: rgba(77, 136, 255, 1);
		border-radius: 2px;
		& > span {
			color: rgba(255, 255, 255, 1);
		}
	}
	.kc-button--default:hover {
		border: none;
	}
	.kc-button--primary {
		background: #1762fa;
	}
}

// 鼠标样式禁用
.forbid {
	cursor: not-allowed !important;
}

// padding 表格
.pad16 {
	padding: 16px;
	background: $divcolor !important;
}

.table-header {
	padding: 16px 0 0 0 !important;
	position: relative;
	background-color: rgba(41, 53, 102, 1);
	.divBoxTitle {
		margin-top: 0px !important;
	}
}

.table {
	background-color: $divcolor;
	padding: 16px !important;
	/deep/ .kc-table .notCity {
		cursor: default !important;
		font-weight: 400;
		color: rgba(255, 255, 255, 1) !important;
	}
}

.table-form {
	width: 100%;
	padding: 16px !important;
	background-color: $bColor;
	.table-content-top, .table-content-bottom, .table-content {
		padding-bottom: 16px !important;
		display: flow-root;
		background-color: rgba(41, 53, 102, 1);
		/deep/ .kc-table {
			margin: 16px 16px 0 16px !important;
			width: calc(100% - 34px) !important;
		}
		.title {
			height: 58px;
			position: relative;
			.text {
				position: absolute;
				top: 16px;
				left: 16px;
				font-size: 16px;
				font-family: PingFangSC-Medium;
				font-weight: 500;
			}
		}
	}

}
