/*让div水平垂直居中*/
.vertical-horizontal-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*盒子模型*/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Safari */
}

