/*让div水平垂直居中*/
.vertical-horizontal-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*盒子模型*/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Safari */
}

body, html {
  height: 100%;
  width: 100%;
}

//颜色
.red {
  color: #eeffa4;
}

.green {
  color: #80ff59;
}

.yellow {
  color: #ff25a8;
}
.black{
  color: #16450e;
}
