.blog_home {
  height: 100%;
  width: 100%;
  background: url("../assets/img/bg.png") no-repeat center;
  background-size: cover;
  .nav {
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    .menuButton {
      position: absolute;
      width: 30px;
      height: 30px;
      right: -30px;
    }
    .menu-div {
      width: 100px;
      height: 60px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .main {
    height: calc(100% - 60px);
    width: 100%;
    position: absolute;
    bottom: 0;
    overflow: auto;
    //background: aquamarine;
  }
}

/deep/ .el-menu-vertical-demo:not(.el-menu--collapse) {
  margin: auto;
  width: 600px;
  background: none !important;
  height: 100%;
}

/deep/ .el-menu-item:focus, .el-menu-item:hover {
  background: #50fff2;
  height: 60px !important;
  border-radius: 5px;
}

/deep/ .el-menu-item {
  border-radius: 5px;
  height: 60px !important;
}
